<link rel="stylesheet" href="styles.css">

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
  }
  
  header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  main {
    padding: 20px;
  }
  
  img {
    border-radius: 10px;
  }
  
  table {
    width: 50%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #ccc;
    padding: 10px;
  }
  